@import './vars';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $main-ff;
    font-size: $main-fz;
    line-height: $main-lh;
    font-weight: $main-fw;
    color: $main-color;
    min-width: 320px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: $trs;
}

.container {
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto;
}

.caption {
    font-family: $secondary-ff;
    font-size: 46px;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: .02em;
    
    @include b(tablet) {
        font-size: 40px;
    }
}

.title {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
}


