@import '../common/vars';

.feeding {
    padding: 40px 0 90px;

    &__outer {
        padding: 54px 100px 54px 50px;
        background-color: $queen-pink;
        position: relative;
        z-index: 3;
        @include b(mobile) {
            padding: 32px 24px ;
        }
    }

    &__ellipse {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        width: 100%;
        @include b(mobile) {
            width: 1400px;
            left: -300px;
        }
        @include b(mobile-sm) {
            left: -100px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -20px;
        @include b(mobile) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__col {
        padding: 0 20px;
        @include b(mobile) {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__text-box {
        max-width: 705px;
    }

    &__text {
        font-weight: 500;
        font-size: 28px;
        letter-spacing: .02em;
    }
}