@import '../common/vars';

.how-get {
    padding: 90px 0;
    @include b(mobile-sm) {
        padding: 40px 0;
    }

    // &__wrap {
    //     position: relative;
    //     &__big-arrow {
    //     display: none;
    //         @include b(mobile-sm) {
    //             display: block;
    //             position: absolute;
    //             left: 20px;
    //             top: 0px;
    //             padding-left: 32px;
    //             // width: 10px;
    //         }
    //     }
    // }

    

    &__caption {
        margin-bottom: 80px;
        @include b(mobile-sm) {
            margin-bottom: 30px;
        }
    }

    &__outer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 -13px;
        @include b(tablet) {
            flex-wrap: wrap;
        }
        @include b(mobile-sm) {
            flex-direction: column;
            margin: 0 -13px;
            border-left: 3px #EAD1D0;
            border-left-style: dashed;

            &:before {
                position: absolute;
                content: '';
                bottom: 3px;
                left: -3px;
                width: 10px;
                height: 1.5px;
                background-color: #EAD1D0;
                transform: rotate(-45deg);
            }

            &:after {
                position: absolute;
                content: '';
                bottom: 3px;
                left: -10px;
                width: 10px;
                height: 1.5px;
                background-color: #EAD1D0;
                transform: rotate(45deg);
            }

        }
    }

    &__col {
        padding: 0 13px;
        width: 25%;
        @include b(tablet) {
            width: 50%;
            padding: 20px 13px;
        }
        @include b(mobile-sm) {
            width: 100%;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-top: 40px;
                padding-bottom: 0;
            }
        }
    }

    &__icon-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
        @include b(tablet) {
            justify-content: flex-start;
        }
    }

    &__icon-left {
        margin-right: 10px;
        @include b(tablet) {
            margin-right: 70px;
        }
    }

    &__icon-right {
        padding-right: 20px;
        @include b(mobile-sm) {
        display: none;
        }
    }
    

    &__icon {
        transform: rotate(-80deg);
        position: absolute;
        top: -30px;
        left: -30px;
        @include b(tablet) {
            top: -20px;
            left: -20px;
        }
        @include b(mobile-sm) {
            transform: none;
            top: -20px;
            left: 25px;
        }
    }

    &__title {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 8px;
    }

    &__descr {
        max-width: 265px;
    }
    
    &__descr--heart {
        max-width: 280px;
    }

    &__link {
        color: $primary-color;
    }

    
}